

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  max-width: 1300px;
  margin: 0 auto;
  border: 2px solid red;
  max-height: 700px;
}

.header{
  
  max: width 1300px;px ;
  height: 80px;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
 
}
.header .nav{
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.nav li{
  margin: 0px;
  
}
.nav a{
  padding-top: 0px;
  margin-top: 0px;
  font-size: 2.6rem;
  text-decoration: none;
  padding-left: 30px;
  line-height: 80px;

}
.nav li:hover{
background-color:red;
}
.image1{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image1 img{
  width: 80%;
}
.container{
  display: flex;
}
.left-side{
  border: 2px dashed blue;
  
}
.right-side{
  border: 2px dashed rgb(255, 0, 89);
  background: url(varia.png) center no-repeat;
  
}
